
*.db

*.ipch

*.vcxproj

*.filters

*.user

*.sln

*.exe

*.ilk

*.log

*.pdb

*.tlog

*.obj

*.idb

Day15/.vs/Day15/v16/

*.iobj

*.ipdb

Day16/.vs/Day16/v16/

Day.zip
